.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.my_posts {
    font-size: 2.5em;
    color: rgba(23, 23, 23, 0.61);
    padding: 20px 0;
}
.form_input {
    height: 4em;
    width: 90%;
    background-color: #cbd5e7;
    border: none;
    padding-left: 20px;
    font-size: 1.5em;
    display: block;
}
.send {
    width: 15%;
    color: ghostwhite;
    margin: 20px 8% 0 0;
    padding: 3px;
    align-self: end;
    font-size: 1.5em;
    background-color: #1856af;
    border: none;
}